html {
    scroll-behavior: smooth;
}
body{
    background-color: #fff;

    strong {
        font-weight: 800;
    }

    em {
        font-style: italic;
    }
}

.menutopo {
    background-color: #fff;

    i {
        font-size: 14px;
        color: #84C2E4;
        opacity: 80%;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        color: #037549;
        padding: 0;
        margin: 0;
        display: inline;
        opacity: 80%;
    }

    .container {
        border-bottom: 1px solid #d1d1d1;
    }
}

.navbar {
    background-color: #fff;

    li a {
        text-decoration: none !important;
        color: #565656;
        font-weight: 600;
    }

    .nav-item {
        font-family: 'Manrope', sans-serif;
        text-decoration: none;
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;
        font-weight: 500;
    }
    
    .nav-item:hover{
       border-bottom: 2px solid #84C2E4;
       a {
        color: #84C2E4;
       }
    }
    
}  
    
.banner-principal {
    background: linear-gradient(rgba(159, 191, 84, 0.7), rgba(132,194,228, 0.7)), url(../../images/sala03/1678910855127.jpg);
    //-moz-background: linear-gradient(rgba(159, 191, 84, 0.7), rgba(132,194,228, 0.7)), url(../../images/sala03/1678910855127.jpg);
    //-webkit-background: linear-gradient(rgba(159, 191, 84, 0.7), rgba(132,194,228, 0.7)), url(../../images/sala03/1678910855127.jpg);
    //-ms-background: linear-gradient(rgba(159, 191, 84, 0.7), rgba(132,194,228, 0.7)), url(../../images/sala03/1678910855127.jpg);
    //-o-background: linear-gradient(rgba(159, 191, 84, 0.7), rgba(132,194,228, 0.7)), url(../../images/sala03/1678910855127.jpg);
    filter: brightness(0.9);
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 450px;
    text-align: center;
    justify-content: center;
}


.divAntesala {

    background-color: #ECFDF5;
    //border-bottom: 1px solid #d1d1d1;
    
    h2 {
        font-family: 'Manrope', sans-serif;
        font-size: 34px;
        line-height: 42px;
        font-weight: 600;
        color: #037549;
        margin-bottom: 20px;
    }

    strong {
        color: #9FBF54;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 22px;
        color: #565656;
        opacity: 80%;
    }

    img {
        width: 100px;
        margin: 20px 0;
    }
}

.salas {
    background-color: #fff;

    .divisoria {

        h2 {
            font-family: 'Manrope', sans-serif;
            font-size: 34px;
            line-height: 42px;
            font-weight: 700;
            color: #037549;
            text-align: center;
            margin-bottom: 20px;
        }
        p {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            line-height: 22px;
            color: #565656;
            text-align: center;
            opacity: 60%;
        }
    }

    h2 {
        font-family: 'Manrope', sans-serif;
        font-size: 26px;
        font-weight: 600;
        color: #037549;
        margin-top: 15px;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: #565656;
        margin-top: 15px;
        opacity: 80%;
    }

    i {
        font-size: 35px;
        color: #84C2E4;
    }

    button {
        text-align: center;
        background-color: #9FBF54;
        border: 2px solid #9FBF54;
        border-radius: 20px;
        width: 210px;
        height: 40px;
        margin-top: 40px;

        h3 {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            color: #fff;
            display: inline;
            margin-left: 5px;
        }

        i{
            color: #fff;
            font-size: 16px;
        }
    }

    button:hover{
        background-color: #84C2E4;
        border-color: #84C2E4;
    }

    .cd-single-item {
        padding-bottom: 100px;
    }
}

.beneficios {
    background: rgb(254,254,254);
    background: linear-gradient(180deg, rgba(254,254,254,1) 0%, rgba(236,253,245,1) 100%);
    text-align: center;
    margin-top: 180px;

    i {
        color: #84C2E4;
        font-size: 40px;
    }

    h3 {
        font-family: 'Manrope', sans-serif;
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        color: #037549;
        padding: 20px;
        opacity: 80%;
    }


    h2 {
        font-family: 'Manrope', sans-serif;
        font-size: 34px;
        line-height: 42px;
        font-weight: 700;
        color: #037549;
        text-align: center;
        margin-bottom: 20px;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 22px;
        color: #565656;
        text-align: center;
        padding-bottom: 20px;
        opacity: 80%;
    }
}


.avaliacoes{
    border-bottom: 1px solid #d1d1d1;
    h3{
        font-family: 'Manrope', sans-serif;
        font-size: 26px;
        font-weight: 600;
        color: #84C2E4;
        margin: 10px 0px;
    }

    i{
        color: orangered;
    }

    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: #565656;
        margin: 10px 0px;
    }
}

.rodape {
    background-color: #769D6F;
    font-family: 'Manrope', sans-serif;
    color: #fff;
    p {
        margin: 0;
        margin-top: 18px;
        font-size: 16px;
        font-weight: 400;
    }

    h3{
        margin-top: 40px;
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 8px;
        border-bottom: solid 2px #fff;
        width: 30%;
    }

    .copyright{
        background-color: #037549;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	.menutopo{
        display: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 1023px) {
    .beneficios {
        margin-top: 0px;
    }
}