html {
    scroll-behavior: smooth;
}

body{
    background-color: #ffffff;

    strong {
        font-weight: 800;
    }

    em {
        font-style: italic;
    }
}

.whatsapp {
    a {
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:30px;
        box-shadow: 1px 1px 2px #888; 
        z-index:1000;
    }
}

.menutopo {
    background-color: #ffffff;
    text-transform: uppercase;

    i {
        font-size: 14px;
        color: #84C2E4;
        opacity: 70%;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        line-height: 18px;
        font-weight: 600;
        color: #565656;
        padding: 0;
        margin: 0;
        display: inline;
        opacity: 70%;
    }

    .container {
        border-bottom: 1px solid #d1d1d1;
    }
}

.navbar {

    background-color: #ffffff;

    li a {
        text-decoration: none !important;
        color: #565656;
        font-weight: 500;
        opacity: 80%;
    }

    .nav-item {
        font-family: 'Manrope', sans-serif;
        text-decoration: none;
        padding-bottom: 5px;
        font-weight: 500;
    }
    
    .nav-item:hover{
       a {
        color: #84C2E4;
       }
    }

    .navbar-toggler {
        border: none;
    }
    
}  
    
.banner-principal {
    .imagem-banner {
        background: linear-gradient(rgba(140,172,218, 0.4), rgba(132,194,228, 0.9)), url(../../images/sala03/1678910855127.jpg);
        -moz-background: linear-gradient(rgba(140,172,218, 0.4), rgba(132,194,228, 0.9)), url(../../images/sala03/1678910855127.jpg);
        -webkit-background: linear-gradient(rgba(140,172,218, 0.4), rgba(132,194,228, 0.9)), url(../../images/sala03/1678910855127.jpg);
        -ms-background: linear-gradient(rgba(140,172,218, 0.4), rgba(132,194,228, 0.9)), url(../../images/sala03/1678910855127.jpg);
        -o-background: linear-gradient(rgba(140,172,218, 0.4), rgba(132,194,228, 0.9)), url(../../images/sala03/1678910855127.jpg);
        filter: brightness(0.9);
        display: flex;
        flex-direction: column;
        background-size: cover;
        //background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 450px;
    }
}

.divAntesala {
    background-color: #EFF6FA;
    
    .container {
        border-bottom: 1px solid #d1d1d1;
    }
    
    h2 {
        font-family: 'Manrope', sans-serif;
        font-size: 38px;
        line-height: 44px;
        font-weight: 600;
        color: #565656;
        margin-bottom: 20px;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #565656;
    }

    strong {
        color: #8CACDA;
    }

    img {
        width: 120px;
        margin: 20px 0;
    }
}

.salas {
    background-color: #ffffff;

    .divisoria {
        h2 {
            font-family: 'Manrope', sans-serif;
            font-size: 48px;
            line-height: 58px;
            font-weight: 500;
            color: #565656;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        p {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: #565656;
            text-align: center;
        }
    }

    h2 {
        font-family: 'Manrope', sans-serif;
        font-size: 38px;
        font-weight: 600;
        color: #8CACDA;
        margin-top: 15px;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 22px;
        color: #565656;
        margin-top: 15px;
        opacity: 80%;
    }

    button {
        text-align: center;
        background-color: #9FBF54;
        border-radius: 20px;
        width: 220px;
        height: 40px;
        margin-top: 40px;
        border: none;

        h3 {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 700;
            color: #fff;
            display: inline;
            margin-left: 5px;
            text-transform: uppercase;
        }

        i {
            color: #fff;
            font-size: 16px;
        }
    }

    button:hover{
        background-color: #84C2E4;
    }

    .cd-single-item {
        padding-bottom: 100px;
    }
}

.beneficios {
    text-align: center;
    margin-top: 200px;

    i {
        color: #8CACDA;
        font-size: 26px;
        padding: 20px;
        background-color: #f2f8fb;
        border-radius: 40px;
    }

    h2 {
        font-family: 'Manrope', sans-serif;
        font-size: 48px;
        line-height: 58px;
        font-weight: 500;
        color: #565656;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    h3 {
        font-family: 'Manrope', sans-serif;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        color: #565656;
        padding: 20px;
        opacity: 80%;
        margin-top: 20px;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 22px;
        color: #565656;
        text-align: center;
        margin-bottom: 50px;
    }

    .left {

        text-align: left !important;

        .btn-beneficios {
            text-align: center;
            background-color: #9FBF54;
            border-radius: 20px;
            border: none;
            width: 220px;
            height: 40px;
            margin-bottom: 80px;
    
            h4 {
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-weight: 700;
                color: #fff;
                display: inline;
                margin-left: 5px;
                text-transform: uppercase;
            }
    
            i {
                color: #fff;
                font-size: 16px;
                padding: 0px;
                background-color: inherit;
                border-radius: 0px;
            }
        }

        .btn-beneficios:hover{
            background-color: #84C2E4;
        }
    
    }
}

.avaliacoes {
    background-color: #f2f8fb;

    .container {
        border-bottom: 1px solid #d1d1d1;
    }

    .v1, .v2, .v3 {
        cursor: pointer;
        border: none;

        h3{
            font-family: 'Manrope', sans-serif;
            font-size: 22px;
            font-weight: 700;
            color: #565656;
            margin: 5px 0px;
            opacity: 80%;
        }
    
        i{
            color: #565656;
            font-size: 14px;
            opacity: 80%;
        }
    
        p{
            font-family: 'Montserrat', sans-serif;
            font-size: 13px;
            line-height: 17px;
            color: #565656;
            opacity: 80%;
            margin: 10px 0px;
            opacity: 80%;
        }
    }

    .v1:hover{
        opacity: 100%;
        filter: brightness(1.0);
        i {
            color: #84C2E4;
            opacity: 100%;
        }
        h3 {
            color: #8CACDA;
            opacity: 100%;
        }
        p {
            opacity: 100%;
        }
    }

    .v2:hover{
        opacity: 100%;
        filter: brightness(1.0);
        i {
            color: #84C2E4;
            opacity: 100%;
        }
        h3 {
            color: #8CACDA;
            opacity: 100%;
        }
        p {
            opacity: 100%;
        }
    }

    .v3:hover{
        opacity: 100%;
        filter: brightness(1.0);
        i {
            color: #84C2E4;
            opacity: 100%;
        }
        h3 {
            color: #8CACDA;
            opacity: 100%;
        }
        p {
            opacity: 100%;
        }
    }
}

.rodape {
    font-family: 'Montserrat', sans-serif;
    text-align: left;

    img {
        width: 30%;
    }

    .info {

        strong {
            font-weight: 600;
        }
        h1 {
            font-size: 32px;
            font-weight: 600;
            color: #8CACDA;
    
            i {
                color: #84C2E4;
                padding-right: 10px;
            }
        }

        h2 {
            color: #565656;
            font-size: 15px;
            line-height: 21px;
            font-weight: 400;
        }

        h3 {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 13px;
            font-weight: 500;
            opacity: 70%;
            text-transform: uppercase;
            color: #8CACDA;
        }

        p {
            margin-top: 30px;
            font-size: 15px;
            font-weight: 500;
        }
    }

    .copyright{
        text-align: center;

        .container {
            border-top: 1px solid #d1d1d1;
        }

        p {
            font-size: 12px;
            font-weight: 300;
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	.menutopo{
        display: none;
    }

    .rodape {
        text-align: center;

        img {
            width: 50%;
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 1023px) {
    .beneficios {
        margin-top: 0px;

        .left {
            text-align: center !important;
        }
    }
}

@media screen and (max-width: 1023px) {
    .banner-principal {
        .imagem-banner {
            height: 100%;
        }
    }
}