html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}
body strong {
  font-weight: 800;
}
body em {
  font-style: italic;
}

.menutopo {
  background-color: #ffffff;
}
.menutopo i {
  font-size: 14px;
  color: #84C2E4;
  opacity: 80%;
}
.menutopo p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #565656;
  padding: 0;
  margin: 0;
  display: inline;
  opacity: 80%;
}
.menutopo .container {
  border-bottom: 1px solid #d1d1d1;
}

.navbar {
  background-color: #ffffff;
}
.navbar li a {
  text-decoration: none !important;
  color: #565656;
  font-weight: 600;
}
.navbar .nav-item {
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid #ffffff;
  font-weight: 500;
}
.navbar .nav-item:hover {
  border-bottom: 2px solid #84C2E4;
}
.navbar .nav-item:hover a {
  color: #84C2E4;
}
.navbar .navbar-toggler {
  border: none;
}

.banner-principal {
  background: linear-gradient(rgba(159, 191, 84, 0.7), rgba(132, 194, 228, 0.7)), url(../../images/sala03/1678910855127.jpg);
  -moz-background: linear-gradient(rgba(159, 191, 84, 0.7), rgba(132, 194, 228, 0.7)), url(../../images/sala03/1678910855127.jpg);
  -webkit-background: linear-gradient(rgba(159, 191, 84, 0.7), rgba(132, 194, 228, 0.7)), url(../../images/sala03/1678910855127.jpg);
  -ms-background: linear-gradient(rgba(159, 191, 84, 0.7), rgba(132, 194, 228, 0.7)), url(../../images/sala03/1678910855127.jpg);
  -o-background: linear-gradient(rgba(159, 191, 84, 0.7), rgba(132, 194, 228, 0.7)), url(../../images/sala03/1678910855127.jpg);
  filter: brightness(0.9);
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 450px;
  text-align: center;
  justify-content: center;
}

.divAntesala {
  background-color: #f2f8fb;
}
.divAntesala h2 {
  font-family: "Manrope", sans-serif;
  font-size: 34px;
  line-height: 42px;
  font-weight: 600;
  color: #037549;
  margin-bottom: 20px;
}
.divAntesala strong {
  color: #9FBF54;
}
.divAntesala h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565656;
  opacity: 80%;
}
.divAntesala img {
  width: 100px;
  margin: 20px 0;
}

.salas {
  background-color: #ffffff;
}
.salas .divisoria h2 {
  font-family: "Manrope", sans-serif;
  font-size: 34px;
  line-height: 42px;
  font-weight: 700;
  color: #037549;
  text-align: center;
  margin-bottom: 20px;
}
.salas .divisoria p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565656;
  text-align: center;
  opacity: 60%;
}
.salas h2 {
  font-family: "Manrope", sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #037549;
  margin-top: 15px;
}
.salas p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #565656;
  margin-top: 15px;
  opacity: 80%;
}
.salas i {
  font-size: 35px;
  color: #84C2E4;
}
.salas button {
  text-align: center;
  background-color: #9FBF54;
  border: 2px solid #9FBF54;
  border-radius: 20px;
  width: 210px;
  height: 40px;
  margin-top: 40px;
}
.salas button h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fff;
  display: inline;
  margin-left: 5px;
}
.salas button i {
  color: #fff;
  font-size: 16px;
}
.salas button:hover {
  background-color: #84C2E4;
  border-color: #84C2E4;
}
.salas .cd-single-item {
  padding-bottom: 100px;
}

.beneficios {
  background: rgb(254, 254, 254);
  background: linear-gradient(180deg, rgb(254, 254, 254) 0%, rgb(236, 253, 245) 100%);
  text-align: center;
  margin-top: 180px;
}
.beneficios i {
  color: #84C2E4;
  font-size: 40px;
}
.beneficios h3 {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: #037549;
  padding: 20px;
  opacity: 80%;
}
.beneficios h2 {
  font-family: "Manrope", sans-serif;
  font-size: 34px;
  line-height: 42px;
  font-weight: 700;
  color: #037549;
  text-align: center;
  margin-bottom: 20px;
}
.beneficios p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565656;
  text-align: center;
  padding-bottom: 20px;
  opacity: 80%;
}

.avaliacoes {
  border-bottom: 1px solid #d1d1d1;
  margin-top: 20px;
  margin-bottom: 20px;
}
.avaliacoes .v1, .avaliacoes .v2, .avaliacoes .v3 {
  opacity: 70%;
  cursor: pointer;
}
.avaliacoes .v1 h3, .avaliacoes .v2 h3, .avaliacoes .v3 h3 {
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #565656;
  margin: 10px 0px;
}
.avaliacoes .v1 i, .avaliacoes .v2 i, .avaliacoes .v3 i {
  color: #565656;
  font-size: 14px;
}
.avaliacoes .v1 p, .avaliacoes .v2 p, .avaliacoes .v3 p {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #565656;
  opacity: 80%;
  margin: 10px 0px;
}
.avaliacoes .v1:hover {
  opacity: 100%;
}
.avaliacoes .v1:hover i {
  color: orangered;
}
.avaliacoes .v1:hover h3 {
  color: #037549;
}
.avaliacoes .v2:hover {
  opacity: 100%;
}
.avaliacoes .v2:hover i {
  color: orangered;
}
.avaliacoes .v2:hover h3 {
  color: #037549;
}
.avaliacoes .v3:hover {
  opacity: 100%;
}
.avaliacoes .v3:hover i {
  color: orangered;
}
.avaliacoes .v3:hover h3 {
  color: #037549;
}

.rodape {
  background-color: #769D6F;
  font-family: "Manrope", sans-serif;
  color: #fff;
}
.rodape p {
  margin: 0;
  margin-top: 18px;
  font-size: 16px;
  font-weight: 400;
}
.rodape h3 {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 8px;
  border-bottom: solid 2px #fff;
  width: 30%;
}
.rodape .copyright {
  background-color: #037549;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .menutopo {
    display: none;
  }
}
@media screen and (min-width: 0px) and (max-width: 1023px) {
  .beneficios {
    margin-top: 0px;
  }
}

/*# sourceMappingURL=global.css.map */
