html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}
body strong {
  font-weight: 800;
}
body em {
  font-style: italic;
}

.whatsapp a {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.menutopo {
  background-color: #ffffff;
  text-transform: uppercase;
}
.menutopo i {
  font-size: 14px;
  color: #8CACDA;
  opacity: 70%;
}
.menutopo p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: #565656;
  padding: 0;
  margin: 0;
  display: inline;
  opacity: 70%;
}
.menutopo .container {
  border-bottom: 1px solid #d1d1d1;
}

.navbar {
  background-color: #ffffff;
}
.navbar li a {
  text-decoration: none !important;
  color: #565656;
  font-weight: 500;
  opacity: 80%;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
}
.navbar .nav-item {
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  padding-bottom: 5px;
  font-weight: 500;
}
.navbar .nav-item:hover a {
  color: #84C2E4;
}
.navbar .navbar-toggler {
  border: none;
}

.banner-principal .imagem-banner {
  background: linear-gradient(rgba(140, 172, 218, 0.4), rgba(132, 194, 228, 0.9)), url(../../images/sala03/1678910855127.jpg);
  -moz-background: linear-gradient(rgba(140, 172, 218, 0.4), rgba(132, 194, 228, 0.9)), url(../../images/sala03/1678910855127.jpg);
  -webkit-background: linear-gradient(rgba(140, 172, 218, 0.4), rgba(132, 194, 228, 0.9)), url(../../images/sala03/1678910855127.jpg);
  -ms-background: linear-gradient(rgba(140, 172, 218, 0.4), rgba(132, 194, 228, 0.9)), url(../../images/sala03/1678910855127.jpg);
  -o-background: linear-gradient(rgba(140, 172, 218, 0.4), rgba(132, 194, 228, 0.9)), url(../../images/sala03/1678910855127.jpg);
  filter: brightness(0.9);
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 400px;
  text-align: center;
  justify-content: center;
}
.banner-principal .imagem-banner h2 {
  font-family: "Manrope", sans-serif;
  color: #ffffff;
  font-size: 46px;
  font-weight: 600;
  text-shadow: 0px 0px 3px #565656;
}

.divAntesala {
  background-color: #EFF6FA;
}
.divAntesala .container {
  border-bottom: 1px solid #d1d1d1;
}
.divAntesala h2 {
  font-family: "Manrope", sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 600;
  color: #565656;
  margin-bottom: 20px;
}
.divAntesala h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #565656;
}
.divAntesala strong {
  color: #8CACDA;
}
.divAntesala img {
  width: 120px;
  margin: 20px 0;
}

.salas {
  background-color: #ffffff;
}
.salas .divisoria h2 {
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  line-height: 58px;
  font-weight: 500;
  color: #565656;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.salas .divisoria p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #565656;
  text-align: center;
}
.salas h2 {
  font-family: "Manrope", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #8CACDA;
  margin-top: 0;
}
.salas p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #565656;
  margin-top: 15px;
  opacity: 80%;
}
.salas button {
  text-align: center;
  background-color: #9FBF54;
  border-radius: 20px;
  width: 220px;
  height: 40px;
  margin-top: 40px;
  border: none;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
}
.salas button h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  display: inline;
  margin-left: 5px;
  text-transform: uppercase;
}
.salas button i {
  color: #fff;
  font-size: 16px;
}
.salas button:hover {
  background-color: #84C2E4;
}
.salas .cd-single-item {
  padding-bottom: 100px;
}

.beneficios {
  text-align: center;
  margin-top: 200px;
}
.beneficios i {
  color: #8CACDA;
  font-size: 26px;
  padding: 20px;
  background-color: #f2f8fb;
  border-radius: 40px;
}
.beneficios h2 {
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  line-height: 58px;
  font-weight: 500;
  color: #565656;
  margin-top: 30px;
  margin-bottom: 50px;
}
.beneficios h3 {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: #565656;
  padding: 20px;
  opacity: 80%;
  margin-top: 10px;
}
.beneficios p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #565656;
  text-align: center;
  margin-bottom: 40px;
}
.beneficios .left {
  text-align: left !important;
}
.beneficios .left .btn-beneficios {
  text-align: center;
  background-color: #9FBF54;
  border-radius: 20px;
  border: none;
  width: 220px;
  height: 40px;
  margin-bottom: 80px;
}
.beneficios .left .btn-beneficios h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  display: inline;
  margin-left: 5px;
  text-transform: uppercase;
}
.beneficios .left .btn-beneficios i {
  color: #fff;
  font-size: 16px;
  padding: 0px;
  background-color: inherit;
  border-radius: 0px;
}
.beneficios .left .btn-beneficios:hover {
  background-color: #84C2E4;
}

.avaliacoes {
  background-color: #f2f8fb;
}
.avaliacoes .container {
  border-bottom: 1px solid #d1d1d1;
}
.avaliacoes .v1, .avaliacoes .v2, .avaliacoes .v3 {
  cursor: pointer;
  border: none;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
}
.avaliacoes .v1 h3, .avaliacoes .v2 h3, .avaliacoes .v3 h3 {
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #565656;
  margin: 5px 0px;
  opacity: 80%;
}
.avaliacoes .v1 i, .avaliacoes .v2 i, .avaliacoes .v3 i {
  color: #565656;
  font-size: 14px;
  opacity: 80%;
}
.avaliacoes .v1 p, .avaliacoes .v2 p, .avaliacoes .v3 p {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #565656;
  opacity: 80%;
  margin: 10px 0px;
  opacity: 80%;
}
.avaliacoes .v1:hover {
  opacity: 100%;
  filter: brightness(1);
}
.avaliacoes .v1:hover i {
  color: #84C2E4;
  opacity: 100%;
}
.avaliacoes .v1:hover h3 {
  color: #8CACDA;
  opacity: 100%;
}
.avaliacoes .v1:hover p {
  opacity: 100%;
}
.avaliacoes .v2:hover {
  opacity: 100%;
  filter: brightness(1);
}
.avaliacoes .v2:hover i {
  color: #84C2E4;
  opacity: 100%;
}
.avaliacoes .v2:hover h3 {
  color: #8CACDA;
  opacity: 100%;
}
.avaliacoes .v2:hover p {
  opacity: 100%;
}
.avaliacoes .v3:hover {
  opacity: 100%;
  filter: brightness(1);
}
.avaliacoes .v3:hover i {
  color: #84C2E4;
  opacity: 100%;
}
.avaliacoes .v3:hover h3 {
  color: #8CACDA;
  opacity: 100%;
}
.avaliacoes .v3:hover p {
  opacity: 100%;
}

.rodape {
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
.rodape img {
  width: 30%;
}
.rodape .info strong {
  font-weight: 600;
}
.rodape .info h1 {
  font-size: 32px;
  font-weight: 600;
  color: #8CACDA;
}
.rodape .info h1 i {
  color: #84C2E4;
  padding-right: 10px;
}
.rodape .info h2 {
  color: #565656;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
}
.rodape .info h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 13px;
  font-weight: 500;
  opacity: 70%;
  text-transform: uppercase;
  color: #8CACDA;
}
.rodape .info p {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 500;
}
.rodape .copyright {
  text-align: center;
}
.rodape .copyright .container {
  border-top: 1px solid #d1d1d1;
}
.rodape .copyright p {
  font-size: 12px;
  font-weight: 300;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .menutopo {
    display: none;
  }
  .rodape {
    text-align: center;
  }
  .rodape img {
    width: 50%;
  }
}
@media screen and (min-width: 0px) and (max-width: 1023px) {
  .beneficios {
    margin-top: 0px;
  }
  .beneficios .left {
    text-align: center;
  }
}
@media screen and (max-width: 1023px) {
  .banner-principal .imagem-banner {
    height: 100%;
  }
  .banner-principal .imagem-banner h2 {
    font-size: 28px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/*# sourceMappingURL=global.css.map */
